@import '../../Content/bootstrap.min.css';
@import '../../Content/font-awesome.min.css';
@import '../../Content/bootstrap-dialog.css';
@import '../../Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css';
@import '../../Content/toastr.min.css';
@import '../../Content/bootstrap-datepicker.min.css';
@import '../../Content/bootstrap-datepicker3.min.css';
@import '../../Content/bootstrap-datetimepicker.min.css';
@import '../../Content/DataTables/css/jquery.dataTables.min.css';
@import '../../Content/DataTables/css/dataTables.bootstrap.min.css';
@import '../../Content/select2.min.css';
@import '../../Content/select2-bootstrap.css';
@import '../../Content/themes.css';
@import '../../Content/residency-custom-bootstrap.css';
@import '../../Content/residency.css';
