/* ----------- Table of Contents ----------------- */

/* Section1: Default Body Style with padding due to Bootstrap fixed header */

/* Section2: Helper and Utility Styles: Aligment, Padding, Float, Border etc. */

/* Section3: Color Styles: Panel, Well colors and Text colors. */

/* Section4: Logo and Header Style  */

/* Section5: Div Based Table Layout Style  */

/* Section6: Indidual Element Style  */

/* Section7: Telerik Grid Override Style  */

/* Section8: jQuery UI Override Style  */

/* Section9: Bootstrap override Style  */

/* Section10: Validation Helper Style  */

/* Section11: Misc Style  */

/* Section12: Mobile View Style  */



/* Section1: Default Body Style with padding due to Bootstrap fixed header -- Start */



/* Section1: -- End */

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/* Section2: Helper and Utility Styles: Aligment, Padding, Float, Border etc. -- Start */


.line-separator{
border-bottom:1px solid #cccccc;
}

.width12{
    width:8.5%;
}

.width15{
    width:15%;
}

.width20{
    width:20%;
}

.width30{
    width:30%;
}

.col-time{
    width:13% !important;
}



/* Section2: Helper and Utility Styles: Aligment, Padding, Float, Border etc. -- End */


/*-----------------------------------------------------------------------------------------------------------------------------------*/


/* Section3: Color Styles: Panel, Well colors and Text colors. -- Start -- */


.color-main
{
	background-color: #D1C2B2;
	background:linear-gradient(#D1C2B2, #D1C2B2);
    background:-webkit-linear-gradient(#D1C2B2, #D1C2B2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D1C2B2, endColorstr=#D1C2B2)";
	color: #00f
}


.color-white
{
	background-color: #fff;
    background:linear-gradient(#fff, #fff);
    background:-webkit-linear-gradient(#fff, #fff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
	color: #00f
}



.color1
{
    background-color: #dde8eb;
    background: linear-gradient(#f8fbfc, #dde8eb);
    background: -webkit-linear-gradient(#f8fbfc, #dde8eb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8fbfc, endColorstr=#dde8eb)";
}

.color2
{
    background-color: #dde8eb;
    background:linear-gradient(#EAEAEC, #ECF3FD);
    background:-webkit-linear-gradient(#EAEAEC, #ECF3FD);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D5D6DA, endColorstr=#dde8eb)";
    color: #333333;
}

.color2 a
{
    color: #333333
}

.color3
{
    background-color: #E8F4FA;
    background:linear-gradient(#E8F4FA, #FCFEFE);
    background:-webkit-linear-gradient(#E8F4FA, #FCFEFE);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E8F4FA, endColorstr=#FCFEFE)";
    color: #333333
}


.color4
{
    background-color: #E1FAFE;
    background:linear-gradient(#E1FAFE, #E3EEFF);
    background:-webkit-linear-gradient(#E1FAFE, #E3EEFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E1FAFE, endColorstr=#E3EEFF)";
    color: #333333
}

.color5
{
    background-color: #FAEBD7;
    background:linear-gradient(#FAEBD7, #FCF5EB);
    background:-webkit-linear-gradient(#FAEBD7, #FCF5EB);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FAEBD7, endColorstr=#FCF5EB)";
    color: #00f
}

.color6
{
    background-color: #ffffff;
    background:linear-gradient(#ffffff, #FCFDF9);
    background:-webkit-linear-gradient(#ffffff, #FCFDF9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#FCFDF9)";
    color: #333
}


.color7
{
    background-color: #eff7eb;
    background:linear-gradient(#eff7eb, #eff7eb);
    background:-webkit-linear-gradient(#eff7eb, #eff7eb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff7eb, endColorstr=#eff7eb)";
}



.red{

	background-color: #FFD8D8;
	background:linear-gradient(#FFB2B2, #FFE6E6);
    background:-webkit-linear-gradient(#FFB2B2, #FFE6E6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFB2B2, endColorstr=#FFE6E6)";
}

.stress{
     background-color: #FAEBD7;
    background:linear-gradient(#f1f1f1, #FAEBD7);
    background:-webkit-linear-gradient(#f1f1f1, #FAEBD7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#FAEBD7)";
    font-weight:bold;
    color:#333;

}


.highlight{

	background-color: #FEFEF1 !important;
	background:linear-gradient(#FEFEF1, #FFFCF7) !important;
    background:-webkit-linear-gradient(#FEFEF1, #FFFCF7) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFEF1, endColorstr=#FFFCF7)" !important;
}

.wo-tea-time{
    /*background-color: #f4f4e3;*/
    /*color:#333;*/
}


/* Style for Text Colors -- Start */

.red-text
{
	color: red;
}
.red-bold
{
	color: red;
    font-weight:bold;
}
.brown-text
{
	color: brown;
}

.blue-text
{
	color: blue;
}




/* Section3: Color Styles: Panel, Well colors and Text colors. -- End -- */



/*-----------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------*/


/* Section5: Div Based Table Layout Style  -- Start -- */


.data-label
{
	color: #13558E;
}

.data-value
{
	color: #792a2a;
}


.border-bottom{
	border-bottom: 1px solid #f1f1f1;
  }


/* Section5: Div Based Table Layout Style  -- End -- */



/*-----------------------------------------------------------------------------------------------------------------------------------*/








/* Section8: jQuery UI Override Style  ---------- Start ---- */

/* jQuery Popup Override  ---  Start */



.myDialogClass {
  color: #3a87ad;
  margin:0;
  background-color: #fff;
  background: #fff;
  padding:1px;
  border: 0px solid #aaa;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #111;
-webkit-box-shadow: 10px 10px 5px #111;
box-shadow: 10px 10px 5px #111;
}

.myDialogClass .ui-widget-header{
  background: #fff;
  color: brown;
  border: 0px solid #fff;
}


.myDialogClass + .ui-widget-overlay {
	background: #333;
	opacity:0.9;
}

.dialog-detail {
  color: #3a87ad;
  margin:0;
  background: #ffffff;
  padding:0;
  border:0;
  border-left: 5px solid #3a87ad;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #111;
-webkit-box-shadow: 10px 10px 5px #111;
box-shadow: 10px 10px 5px #111;
}

.dialog-detail .ui-widget-header{
  background: #fff;
  color: brown;
  border:0;
  border-radius: 0;
  border-bottom: 1px solid #ADD9ED;
}

.dialog-detail + .ui-widget-overlay {
	background: #333;
	opacity:0.9;
}



/* jQuery Popup Override  ---  End */



/* Section8: jQuery UI Override Style  ---------- End ---- */


/*-----------------------------------------------------------------------------------------------------------------------------------*/



/* Section9: Bootstrap override Style  ----------------------------------------- Start -- */

.btn-danger {
background: #ad1627;
border: 1px solid #700d19 !important;
}



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0080BF;
}





/* Section9: Bootstrap override Style  ----------------------------------------- End -- */



/*-----------------------------------------------------------------------------------------------------------------------------------*/



/* Section10: Validation Helper Style  --------- Start --*/



/* Section10: -- End */



/*-----------------------------------------------------------------------------------------------------------------------------------*/



/* Section11: Misc Style --------------- Start */


.page-title{
	border-bottom: 1px solid #eeeeee;
	color: #661400;
}


.ProxySelect {
    background: #FEE5AD;
    color:#730000;
    border: 0;
    background: linear-gradient(#FEE5AD, #FFE0CC);
    background: -webkit-linear-gradient(#FEE5AD, #FFE0CC);
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}


/* Qtip2 overrides ------------- Start*/

.myCustomClass{
    width: 600px;
    max-width: 600px !important;
}

.qtip{
    font-size: 13px;
}

.myCustomClass2{

     font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    width: 400px;
    max-width: 400px !important;
}



/* Qtip2 overrides ------------- End*/

/* Section11: Misc Style --------------- End */


/* Section12: Mobile View Style  --------------- Start */

.block{
    border:1px solid #dddddd;
    margin-left:-8px;
    margin-right:-8px;
    padding-bottom:5px
}

.block:nth-child(n+2) {
    margin-top: -1px;
}



/* Section12: Mobile View Style  --------------- End */


/* Section13: Box Style  --------------- Start */


.box {
  position: relative;
  background: #ffffff;
  border-top: 2px solid #c1c1c1;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #f56954;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #ddd;
   background-color: #fcfcfc;
    background: linear-gradient(#fcfcfc, #edf3f4);
    background: -webkit-linear-gradient(#fcfcfc, #edf3f4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc, endColorstr=#edf3f4)";
  color: #444;
  padding-bottom: 0;
}
.box .box-header:before,
.box .box-header:after {
  display: table;
  content: " ";
}
.box .box-header:after {
  clear: both;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  float: left;
  cursor: default;
}
.box .box-header a:not(.btn) {
  color: #444;
}
.box .box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}


.box-lbl-txt{
  font-size: 11px;
}
.box .box-body {
  padding: 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.box .box-body > table,
.box .box-body > .table {
  margin-bottom: 0;
}
.box .box-body.chart-responsive {
  width: 100%;
  overflow: hidden;
}
.box .box-body > .chart {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.box .box-body > .chart svg,
.box .box-body > .chart canvas {
  width: 100%!important;
}
.box .box-body .fc {
  margin-top: 5px;
}
.box .box-body .fc-header-title h2 {
  font-size: 14px;
  line-height: 1.6em;
  color: #666;
  margin-left: 10px;
}
.box .box-body .fc-header-right {
  padding-right: 10px;
}
.box .box-body .fc-header-left {
  padding-left: 10px;
}
.box .box-body .fc-widget-header {
  background: #fafafa;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}
.box .box-body .fc-grid {
  width: 100%;
  border: 0;
}
.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
  border-left: 0;
  border-right: 0;
}
.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
  border-right: 0;
}
.box .box-body .table {
  margin-bottom: 0;
}
.box .box-body .full-width-chart {
  margin: -19px;
}
.box .box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box .box-footer {
  border-top: 1px solid #f4f4f4;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  background-color: #ffffff;
}
.box.box-solid {
  border-top: 0px;
}
.box.box-solid > .box-header {
  padding-bottom: 0px!important;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a {
  color: #444;
}
.box.box-solid.box-info > .box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a {
  color: #444;
}
.box.box-solid.box-danger > .box-header {
  color: #fff;
  background: #f56954;
  background-color: #f56954;
}
.box.box-solid.box-danger > .box-header a {
  color: #444;
}
.box.box-solid.box-warning > .box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a {
  color: #444;
}
.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a {
  color: #444;
}
.box.box-solid > .box-header > .box-tools > .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid.collapsed-box .box-header {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box .todo-list {
  margin: 0;
  padding: 0px 0px;
  list-style: none;
}
.box .todo-list > li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  background: #f3f4f5;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.box .todo-list > li:last-of-type {
  margin-bottom: 0;
}
.box .todo-list > li.danger {
  border-left-color: #f56954;
}
.box .todo-list > li.warning {
  border-left-color: #f39c12;
}
.box .todo-list > li.info {
  border-left-color: #00c0ef;
}
.box .todo-list > li.success {
  border-left-color: #00a65a;
}
.box .todo-list > li.primary {
  border-left-color: #3c8dbc;
}
.box .todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.box .todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.box .todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.box .todo-list > li .tools {
  display: none;
  float: right;
  color: #f56954;
}
.box .todo-list > li .tools > .fa,
.box .todo-list > li .tools > .glyphicon,
.box .todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.box .todo-list > li:hover .tools {
  display: inline-block;
}
.box .todo-list > li.done {
  color: #999;
}
.box .todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.box .todo-list > li.done .label {
  background: #eaeaec !important;
}
.box .todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}
.box .chat {
  padding: 5px 20px 5px 10px;
}
.box .chat .item {
  margin-bottom: 10px;
}
.box .chat .item:before,
.box .chat .item:after {
  display: table;
  content: " ";
}
.box .chat .item:after {
  clear: both;
}
.box .chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.box .chat .item > img.online {
  border: 2px solid #00a65a;
}
.box .chat .item > img.offline {
  border: 2px solid #f56954;
}
.box .chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.box .chat .item > .message > .name {
  display: block;
  font-weight: 600;
}
.box .chat .item > .attachment {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}
.box .chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.box .chat .item > .attachment > p,
.box .chat .item > .attachment > .filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
.box .chat .item > .attachment:before,
.box .chat .item > .attachment:after {
  display: table;
  content: " ";
}
.box .chat .item > .attachment:after {
  clear: both;
}
.box > .overlay,
.box > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box > .overlay {
  z-index: 1010;
  background: rgba(255, 255, 255, 0.7);
}
.box > .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box > .loading-img {
  z-index: 1020;
  background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;
}
/* Section13: Box Style  --------------- End */


